.consult {
  background-color: #7c7c7c;
  position: relative;
  color: white;
}

@media (min-width: 1024px) {
  .consult {
    min-height: 500px;
    background-image: url("/pages/main/consult-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 2560px) {
  .consult {
    min-height: 700px;
  }
}
