.header_about {
  position: sticky;
  top: 0;
  z-index: 30;
  height: 10vh;
  background: #7C7C7C;
  color: white;
}

@media (min-width: 1024px) {
  .header_about {
    height: 40vh;
    position: relative;
    display: block;
    background-image: url("/pages/about/plane.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}
