.footer {
  inset: 0px;
  position: absolute;
  background-image: url("/pages/main/planes.svg");
  background-repeat: no-repeat;
  background-position: left;
  rotate: 180deg;
  background-size: contain;
  width: 100%;
  height: auto;
  min-height: 200px;
}