.form {
  height: 80vh;
  position: relative;
  color: white;
}

@media (min-width: 1024px) {
  .form {
    background-image: url("/pages/charters/form_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
  }
}